<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />
    <title>棒球購物網</title>
    {% load static %}
    <!-- <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" /> -->
    {% block script %}{% endblock %}
</head>
<body>
  
    <div id="warp">
      <div id="header">
        <div class="logo"></div>
      </div>
      <div id="content"> 
        <img src="{% static "images/cartTitle2.png" %}" width="920" height="29" />
        <div id="sidediv">
          <ul>
            <div class="links">
              {% if request.user.is_authenticated %}
              <p>歡迎光臨:{{request.user.username}}  </p>
              <a href="/accounts/logout/">登出</a> 
              {% else %}
              <p> 您尚未登入喔~ </p>
               <a href="/accounts/login/">登入</a> 
              {% endif %}
              
              <a href="/cart/">檢視購物車</a>
              <a href="/cartordercheck/">查詢訂單</a>
              <a href="/index/">回到首頁</a>
              
            </div>
          </ul>
        </div>
        {% block content %}{% endblock %}
        <div style="clear:both"></div>
      </div>
      <div id="footer"></div>
    </div>
</body>
<style>
/* .links {
  display: flex; /* Use flexbox to arrange links in a row */
 

.links a {
  margin-right: 60px; /* Add space between links */
}

/* Remove margin from the last link */
.links a:last-child {
  margin-right: 0;
}
</style>
</html>
