{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="product-container">
    {% for product in productall %}
        <div class="products">
            
            <a href="/detail/{{product.id}}"><img src="/static/images/{{product.pimages}}" alt="產品詳細資料" width="200" height="200" border="0" /></a>
            <br>
            <a href="/detail/{{product.id}}">{{product.pname}}</a>
                <p>${{product.pprice}}</p> <br>

              <a href="/addtocart/add/{{product.id}}/"><img src="{% static 'images/icon_cart.png' %}" height="27" border="0" /></a>
        </div>
    {% endfor %}
</div>

{% endblock %}
